:root {
  --light: #ffffff;
  --dark: #071e22;
  /* --first-accent: #1d7874; */
  --first-accent: linear-gradient(to right, #1d7874, #124d4a);

  --second-accent: #dcc48e;

  --non-urgent: #cecaca;
  --mild-urgent: blue;
  --urgent: orange;
  --very-urgent: red;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background: var(--dark);
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  padding: 40px;
  font-size: 1.5rem;
  background: var(--first-accent);
  display: flex;
  justify-content: space-around;
}

/* todo **`` Need to style the Add Task button. Maybe pick a white bordered plus sign? Also need to add a hover tooltip text to it.  */

.new-todo-button {
  /* background: #000; */
  /* width: 50px; */
  /* opacity: 0.5; */
  /* border: none; */
  /* border-radius: 50%; */
}

/*! **`` This isn't letting me change the size of the icon. I'm going to try Font Awesome next. You may have to delete the link code in the html head. */

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* .new-todo-button:hover:before {
  content: 'Create New Task';
} */

.content {
  width: 100%;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.content > button {
  color: var(--light);
  background: var(--dark);
  width: 100%;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 30px;
  text-align: left;
  border: none;
  border-bottom: solid 1px var(--second-accent);
}

form {
  display: inline-flex;
  flex-direction: column;
}
