:root {
  --non-urgent: #cecaca;
  --mild-urgent: blue;
  --urgent: orange;
  --very-urgent: red;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: inline-flex;
  flex-direction: column;
}
